@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using LogosoftProjekat.ViewModel
@using LogosoftProjekat.Helper
@model ToDoDetailsVM
@{
}

<div style=" position:fixed; right: 10%;top:0.5%">
    <i class="fas fa-sign-out-alt"> </i>
    <div class="row">
        <div class="column"><span class="logout">@Context.GetLoggedUser().FirstName.Substring(0, 1)@Context.GetLoggedUser().LastName.Substring(0, 1) </span></div>
        <div class="column"><img style="margin-left:20px;margin-top:1px" class="avatar" height="40" width="40" src="~/profile/profil-picture.jpg" /></div>
        <span style="margin-left:10px"><a asp-controller="Identity" asp-action="Login" class="nav-link"><b>Log out</b></a></span>

    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>IsComplete</th>
            <th>CreatedBy</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@Model.Title</td>

            @if (Model.Size > 30)
            {
                <td>@Model.TempDescription...</td>
            }
            else
            {
                <td> @Model.Description</td>
            }
           
            <td>@(Model.IsComplete?"Completed":"In progress")</td>
           
            <td>@Model.CreatedBy.FirstName @Model.CreatedBy.LastName </td>
         

            <td>@Model.CreatedOn</td>
            <td>@Model.ModifiedOn</td>
            @if (Model.CreatedBy.UserId == Model.UserId)
            {
                <td>
                    <a asp-controller="ToDo" asp-action="Edit" asp-route-id="@Model.TodoId" class="btn btn-dark btn-sm">Edit item</a>
                </td>
                <td>
                    <a asp-controller="ToDo" asp-action="Delete" asp-route-id="@Model.TodoId" class="btn btn-danger btn-sm">Delete item</a>
                </td>
            }


        </tr>



    </tbody>

</table>
<style>
    .logout {
        height: 40px;
        width: 40px;
        border-radius: 60%;
        display: inline-block;
        font-size: 25px;
        margin-left: 30%;
        background-color: aqua;
        text-decoration: none
    }
</style>